* 
{
  margin: 0;
  padding: 0;
  /*vores valg af font til Hjemmesiden */

}

body{
  background-color: black;
  color: rgb(255, 255, 255);
  
}

/*vi har valgt at bruge grid og flexboks*/
.infoConcener{
  background-color: rgb(57, 57, 57);
  color: white;
  display: grid;
  gap: 20px;
  padding: 10px;
  grid-template-areas: 
    " . .      . "
    " . itekst . "
    " . knap   . "
    " . .      . "
    ;
  
}

.infoTekst{
  grid-area: itekst;
}

.infoKnap{
  grid-area: knap;
}

.infoKnap a {
  text-decoration: none;
  background-color: rgb(225, 149, 26);
  color: white;
  font-size: large;
  padding: 5px;
}

.valgConcener{
  background-color: rgb(201, 201, 201);
  color: rgb(0, 0, 0);
  display: grid;
  gap: 20px;
  padding: 10px;
  grid-template-areas: 
    " vtekst  vtekst vtekst  vtekst"
    " .       bvalg   dvalg  . "
    " .       evalg   svalg  . ";
}

.valgtekst{ 
  grid-area: vtekst;
}

.benzinValg{
  background-color: rgba(0, 0, 255, 0.495);
  height: 50px;
  text-align: center;
  text-justify: center;
  grid-area: bvalg;
}

.elbilValg{
 background-color: rgba(0, 0, 255, 0.495);
 height: 50px;
 text-align: center;
 grid-area: evalg;
}

.diselValg{
 background-color: rgba(0, 0, 255, 0.495);
 height: 50px;
 text-align: center;
 grid-area: dvalg;
}

.sportValg{
 background-color: rgba(0, 0, 255, 0.495);
 height: 50px;
 text-align: center;
 grid-area: svalg;
}